source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json
source ../localstorage

storage: none
framework: netstandard2.0
nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.React prerelease

group wsbuild
    git https://github.com/dotnet-websharper/build-script websharper50